li
{
  margin-left: 10%;
}

#home:hover
{
  background-color: wheat;
}

#products:hover
{
  background-color: wheat;
}

#albums:hover
{
  background-color: wheat;
}

#blogs:hover
{
  background-color: wheat;
}